/* 
    Reset Style
 */
 * {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #001959;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

button:hover {
    cursor: pointer;
}

button,
input {
    background: none;
}

img {
    object-fit: cover;
}

ul,
ol,
li,
dl {
    list-style: none;
}

title,
a,
span {
    display: inline-block;
    text-decoration: none;
}

.clear-both::after {
    display: block;
    content: "";
    clear: both;
}

.text-hide {
    text-indent: -9999px;
}

.inner {
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

/* header---------------------------------------------------------- */

header {
    width: 100%;
    height: 72px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    border-bottom: solid 1px rgba(0, 25, 89, 0.1);
}

header .logo {
    position: absolute;
    left: 0;
    top: 18px;
    font-size: 24px;
    font-weight: bold;
}

header .menu {
    position: absolute;
    top: 23px;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 91px;
}

header .menu a {
    font-size: 18px;
    font-weight: 500;
}

/* visual---------------------------------------------------------- */

#visual {
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 72px;
    position: relative;
}

#visual .profile {
    width: 100%;
    height: 240px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.466) 55%, rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
    left: 0;
}

#visual .inner {
    display: flex;
    align-items: center;
    gap: 27px;
}

#visual .profile .photo {
    width: 148px;
    height: 148px;
    /* border: solid 1px rgba(0, 25, 89, 0.1); */
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#visual .bio {
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #fff;
}

#visual .bio .my-name {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

#visual .bio .my-info {
    display: flex;
    gap: 44px;
}

#visual .bio .my-info li {
    position: relative;
    color: #fff;
    font-weight: 300;
}

#visual .bio .my-info li::after {
    content: "";
    width: 1px;
    height: 14px;
    background-color: rgba(255, 255, 255, 0.37);
    position: absolute;
    top: 6px;
    right: -22px;
}

#visual .bio .my-info li:last-child::after {
    display: none;
}

/* latest---------------------------------------------------------- */

#latest {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}

#latest .sub-title {
    margin-top: 48px;
    color: rgba(0, 25, 89, 0.3);
}

#latest .title {
    margin-top: 3px;
    font-size: 24px;
    font-weight: 500;
}

#latest .list {
    margin-top: 29px;
    display: flex;
    gap: 32px;
}

#latest .list li {
    width: 277px;
    height: 375px;
    border: solid 1px rgba(0, 25, 89, 0.1);
    position: relative;
    overflow: hidden;
}

#latest .list a img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

/* skills---------------------------------------------------------- */

#skills {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 42px;
    position: relative;
    display: flex;
    align-items: center;
}

#skills .title {
    font-size: 24px;
    font-weight: 500;
}

#skills .graph {
    display: flex;
    justify-content: center;
    width: 824px;
    height: 323px;
    position: relative;
}

#skills .graph::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 77px;
    left: 0;
    background-color: rgba(0, 25, 89, 0.1);
}

#skills .graph ul {
    position: absolute;
    bottom: 30px;
    display: flex;
    align-items: flex-end;
    gap: 96px;
}

#skills .graph li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills .graph li .bar {
    width: 32px;
    /* height: 200px; */
    position: relative;
    margin-bottom: 23.3px;
}

#skills .graph li .percent {
    position: absolute;
    top: 0;
    left: 39px;
    font-size: 14px;
}

#skills .graph li:nth-child(1) .bar {
    height: 160px;
    background-color: #2388e4;
}

#skills .graph li:nth-child(2) .bar {
    height: 140px;
    background-color: #ff9f47;
}

#skills .graph li:nth-child(3) .bar {
    height: 180px;
    background-color: #a152de;
}

#skills .tags {
    display: flex;
    gap: 16px;
}

#skills .tags li {
    padding: 7px 17px;
    background-color: rgba(0, 25, 89, 0.1);
    text-align: center;
    font-size: 15px;
}

/* works---------------------------------------------------------- */

#works {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 110px;
}

#works .title {
    font-size: 24px;
    font-weight: 500;
}

#works .title .number {
    font-size: 24px;
    font-weight: 500;
    color: rgba(0, 25, 89, 0.3);
    margin-left: 27px;
}

#works .list {
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
}

#works .list li {
    position: relative;
    width: 377px;
    height: 458px;
    border: solid 1px rgba(0, 25, 89, 0.1);
    overflow: hidden;
}

#works .list li:hover {
    cursor: pointer;
}

#works .list li img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

/* gallery---------------------------------------------------------- */

#gallery {
    max-width: 1600px;
    margin: 147px auto 203px auto;
    /* overflow-x: hidden; */
}

#gallery .title {
    font-size: 24px;
    font-weight: 500;
}

#gallery .list {
    margin-top: 29px;
    /* height: 455px; */
    overflow: hidden;
}

#gallery .list li img {
    width: auto;
    max-width: 475px;
    height: 216px;
    float: left;
    border: solid 1px rgba(0, 25, 89, 0.1);
    margin: 0 18px 18px 0;
}

#gallery .list li img:hover {
    cursor: pointer;
}

/* footer---------------------------------------------------------- */

footer {
    width: 100%;
    height: 81px;
    background-color: rgba(0, 25, 89, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

footer p {
    position: relative;
}

footer p:nth-child(1)::after {
    content: "";
    width: 1px;
    height: 14px;
    background-color: #fff;
    position: absolute;
    top: 6px;
    right: -20px;
}

/* 크리스마스 전용----------------------------------------------------- */

// #content-box {
//     position: relative;
//     background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(237,244,246,1) 70%, rgba(190,216,223,1) 100%);
//     overflow: hidden;
//     width: 100%;
//     z-index: 999;
// }
// header {
//     background-color: rgb(167, 57, 57);
// }
// header .logo,
// header .menu a {
//     color: #fff;
// }
// footer {
//     background-color: #6eac7b;
// }
// footer p {
//     color: #fff;
// }
// .snow {
//     position: absolute;
//     --size: 1vw;
//     width: var(--size);
//     height: var(--size);
//     background-color: #fff;
//     box-shadow: 0 5px 20px #ffffff;
//     border-radius: 50%;
//     top: -5vh;
//     z-index: -1;
// }
// @keyframes snowfall {
//     0% {
//       transform: translate3d(var(--left-ini), 0, 0);
//     }
//     100% {
//       transform: translate3d(var(--left-end), 2390px, 0);
//     }
//   }
  
//   @for $i from 1 through 100 {
//     .snow:nth-child(#{$i}) {
//       --size: #{random(5) * 0.2}vw;
//       --left-ini: #{random(20) - 10}vw;
//       --left-end: #{random(20) - 10}vw;
//       left: #{random(100)}vw;
//       animation: snowfall #{15 + random(10)}s linear infinite;
//       animation-delay: -#{random(20)}s;
//     }
// }
  