section.title {
    margin-top: 139px;
}

section.intro-text {
    max-width: 1540px;
    margin: 100px auto 131px auto;
    font-size: 20px;
    line-height: 1.71;
}

section.layout .grid {
    display: flex;
    gap: 55px;
}

section.layout .back-img {
    width: 313px;
    height: 360px;
}

section.layout .context {
    display: flex;
    flex-direction: column;
}

section.layout .context .title {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 700;
}

section.layout .context .text {
    margin-top: 35px;
    line-height: 1.71;
}

section.layout .context .btns {
    display: flex;
    gap: 21px;
    margin-top: 176px;
}

section.layout .context .btn {
    width: 68px;
    height: 34px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 34px;
}

section.details .grid {
    display: flex;
    gap: 94px;
    margin-top: 141px;
}

section.details ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

section.details ul .title {
    font-size: 20px;
    font-weight: 600;
}
section.details .text {
    margin-top: 35px;
    max-width: 1540px;
    margin: 35px auto 164px auto;
    line-height: 1.71;
}