/* 
    Reset Style
 */
 * {
    margin: 0;
    padding: 0;
    border: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #07071c;
    box-sizing: border-box;
}

button:hover {
    cursor: pointer;
}

button,
input {
    background: none;
}

ul,
ol,
li,
dl {
    list-style: none;
}

title,
a,
span {
    display: inline-block;
    text-decoration: none;
}

.clear-both::after {
    display: block;
    content: "";
    clear: both;
}

.tag {
    display: inline-block;
    background-color: #fff;
    border: #07071c 1px solid;
    color: #07071c;
    transition: all 0.2s;
}

.tag.red {
    background-color: #c6003b;
    border-color: #c6003b;
    border: none;
    color: #fff;
}

.tag.blue {
    background-color: #363693;
    border-color: #363693;
    color: #fff;
}

.tag.gray {
    background-color: rgba(7, 7, 28, 0.05);
    color: #07071c;
    border-color: rgba(7, 7, 28, 0.05);
}

.tag.black {
    background-color: #07071c;
    color: #fff;
    border: none;
}

a.tag:hover {
    background-color: #07071c;
    color: #fff;
    border-color: #07071c;
}

.grid {
    position: relative;
    top: 0;
    left: 0;
    max-width: 1540px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.text-hide {
    text-indent: -9999px;
}

.back-img {
    text-indent: -9999px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn:hover {
    cursor: pointer;
}

html,
body {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
}

/* -------------------------------------------------------------------------- */

header {
    width: 100%;
    height: 63px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

header .logo {
    position: absolute;
    top: 12px;
    left: 0;
    font-size: 27.2px;
    font-weight: 800;
}

header .gnb {
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    float: left;
    gap: 85px;
}

header .gnb a {
    font-size: 18px;
    font-weight: 600;
}

header .my {
    position: absolute;
    top: 17px;
    right: 0;
    display: flex;
    float: right;
    gap: 10px;
}

header .my a {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding: 4px 10px;
    border: solid 1px #07071c;
}

header .my li:nth-child(4) a {
    border-color: #c6003b;
    margin-left: 7px;
}

/* ------------------------------------------------------------------ */

footer {
    width: 100%;
    height: 191px;
    padding: 35px 0 34px 0;
    background-color: #d9d9e3;
}

footer .grid {
    display: flex;
}

footer .logo {
    font-size: 20px;
    font-weight: 700;
}

footer .text {
    font-size: 13px;
    font-weight: 400;
    margin-top: 13px;
}

footer .menu {
    margin-left: 483px;
    display: flex;
    gap: 71px;
}

footer .menu li {
    display: flex;
    flex-direction: column;
}

footer .menu li p {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
}

footer .menu li a {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.45;
    margin-top: 6px;
}

footer .links {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

footer .links .btn.sitemap {
    width: 92px;
    height: 31px;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 31px;
    font-weight: 400;
    margin-right: 19px;
}

footer .links select {
    appearance: none;
    -webkit-appearance: none;
    width: 203px;
    height: 31px;
    padding: 0 8.5px;
    background: #fff url(./source/icon-pol-select-1.png) no-repeat 183.5px;
    font-size: 14px;
    line-height: 31px;
    font-weight: 500;
    color: rgba(7, 7, 28, 0.5);
}

footer .links .submit {
    width: 52px;
    line-height: 31px;
    height: 31px;
    background-color: #07071c;
    text-align: center;
    color: #fff;
    line-height: 31px;
}